
.wp-block-embed.is-type-video {

  .wp-block-embed__wrapper {
    width: 100%;
    height: 0;
  	overflow: hidden;
  	padding-bottom: 56.25%; // assume 16:9 if not aspect ratio class
  	position: relative;

    embed,
  	object,
  	iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &.wp-embed-aspect-16-9 {
    .wp-block-embed__wrapper {
      padding-bottom: 56.25%;
    }
  }
  &.wp-embed-aspect-4-3 {
    .wp-block-embed__wrapper {
      padding-bottom: 75%;
    }
  }
}
