
fieldset {
	background-color: transparent;
	border: 0;
	padding: 0;
	margin: $base-spacing 0;
}

legend {
	@include base-display-allcaps();
	margin: $small-spacing 0;
	text-align: left;
}

label {
	font-weight: $demi;
 	display: block;
	margin-bottom: $small-spacing/3;
}

input,
select,
textarea {

}

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
input:not([type]) {
	background-color: $form-field-background-color;
	border: $base-form-field-border;
	border-radius: $base-form-field-border-radius;
	box-sizing: border-box;
	margin-bottom: $base-spacing;
	padding: $small-spacing;

	&:hover {
		border-color: $action-color-hover;
	}

	&:focus {
		border-color: $action-color;
		box-shadow: $base-box-shadow-inset;
		outline: none;
	}

	&:disabled {
		background-color: $gray5;
		border-color: $gray3;
		cursor: not-allowed;

		&:hover {
			background-color: $gray5;
			border-color: $gray3;
		}
	}

	&::placeholder {
		color: $gray2;
		opacity: .5;
	}
}

textarea {
  resize: vertical;
  padding: $small-spacing;
}

[type="file"] {

}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: $small-spacing;
	border-radius: $base-form-field-border-radius;
	font-family: $base-font-family;
	outline: none;
	border: $base-form-field-border;
	position: relative;
}

// custom checkboxes
form:not(.default-inputs) {

	[type="checkbox"] {
		@include custom-checkbox();
	}

	// custom radio buttons
	[type="radio"] {
		@include custom-radio();
	}
}

.checkbox-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    
    @include media('>tablet') {
        align-items: center;
        flex-direction: row;
    }
    
    label {
        margin-right: $base-spacing;
        display: flex;
        align-items: center;
    }

    input {
        width: auto;
        margin-right: $small-spacing;
    }
}